doctype html
html(style='')
  head
    title Relieving Certificate
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js')
    link(href='stylesheets/style.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
    style.
      #n{
        display:none;
      }
  body
    a.btn(href='/remuneration_data' style='margin-left:200px;') Back
      img(src='images/bk.png', alt='aditya logo' width='40px')
    div#dt.container    
      header(style='border-bottom: 2px ;text-align: center;border-bottom-style: double;')
        div
          h1 ADITYA ENGINEERING COLLEGE
          | An autonomous institution
          br
          | Approved by AICTE
          b .
          | Accredited by NBA
          b .
          | NAAC with "A" Grade
          br
          | Recognized by UGCU under Sections 2(F) and 12(B) of UGC Act,1956
      
      center
      h3(style='text-align: center;margin-top:100px;')
        u RELIEVING CERTIFICATE
      br
      div
        p(style='float: left;') Prof.J Pavan
        p(style='float: right;') Date: #{vallu.fdate1}
      br
      br
      p Controller of Examminations
      br
      p To
      p Principal,
      p
        | &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Dr/Mr/Ms/Mrs 
        b #{vallu.Name}
        | . Working as 
        b #{vallu.desig}
        |  is acted as an external examiner for conducting 
        b #{vallu.lab}
        |  lab from 
        b #{vallu.fdate1} 
        | to 
        b  #{vallu.tdate1}
        |  . He/She is relieved from his/her duties on 
        b  #{vallu.tdate1}
        | .
        br
        br
        br
        br
        br
      
      p(style='float: right;') Controller of Examinatons
      br
      br
    table.table
      td
      td
      td
      td
      td
      td
        button(onclick='printrem()').btn.btn-primary CLICK TO PRINT LETTER
      td
        button(onclick='Export()').btn.btn-primary CLICK TO download pdf
      br
      br
      input#n(type='text' value=vallu.Name)
  script.
    function printrem() 
    {

      var divToPrint=document.getElementById('dt');
    
      var newWin=window.open('','Print-Window');
    
      newWin.document.open();
    
      newWin.document.write('<html><body onload="window.print()">'+divToPrint.innerHTML+'</body></html>');
    
      newWin.document.close();
    
      setTimeout(function(){newWin.close();},10);
    
    }
    function Export() {
            html2canvas(document.getElementById('dt'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    var name=document.getElementById('n').value;
                    
                    pdfMake.createPdf(docDefinition).download(name+"_releave_letter.pdf");
                }
            });
      }
