html
	head
		title Exam Cell
		meta(charset='utf-8')
		<meta name="viewport" content="width=device-width, initial-scale=1">
		link(href='stylesheets/style.css', rel='stylesheet')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		script (src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
	style.
	body.bg-secondary
		.container()
			center()
				img.img-responsive(src='images/logo.png', alt='aditya logo')
			.row
				-if(existerror!=""){
					h2#error.text-center.text-danger #{existerror}
					
				-}
				
				h1.text-center Examiner details
				.col-lg-4.col-lg-offset-4#a
						form(method='post',action='/form' )
							label Mode:
							input#mode(type='text',name='mode',value=college_det.mode).form-control
							br
							br
							label Program:
							input#program(type='text',name='program' value=college_det.program).form-control
							br
							br 
							label Semester :
							input#seme(type='text',name='sem' value=college_det.sem).form-control
							br
							br
							label Exam Type :
							input#exam(type='text',name='examtype' value=college_det.examtype).form-control
							br
							br
							label Month :
							input#month(type='text',name='month' value=college_det.month).form-control
							br
							br
							label Regulation :
							input#reg(type='text',name='regulation' value=college_det.regulation).form-control
							br
							br
							label.sel1 From Date :
							input.sel1#fdate(type='date',name='fromdate',required='' ).form-control
							br.sel1
							br.sel1
							label.sel1 To Date :
							input.sel1#tdate(type='date',onchange="fun()",name='todate',required='' ).form-control
							br.sel1
							br.sel1
							
							label.iid Employee ID : 
							input.iid(type='text',name='EmpID',placeholder='enter examiner id').form-control
							br.iid
							br.iid
							label.sel1 Addressing :
							select#sel1.form-control(name='addressing').add
								option(value='') ---select---
								option(value='DR') DR
								option(value='MISS') MISS
								option(value='MR') MR
								option(value='MRS') MRS
							br.br
							br.br
							label Name :
							input(type='text',name='name',placeholder='enter examiner name').form-control
							br
							br
							label.sel1 Designation :
							select#sel1.df.form-control(name='designation' ).des
								option(value='') ---select---
								option(value='Assistant_Professor') Assistant professor
								option(value='Professor') Professor
								option(value='Associate_Professor') Associate Professor
							br.sel1
							br.sel1
							label.sel1 College :
							input.sel1(type='text' name='college' placeholder='---select---' list='ctys').form-control
							datalist#ctys
								each member in citys
									option(value=member.Destination) #{member.Destination}
							br.sel1
							br.sel1
							//label city :
							//input(type='text' name='city' list='clys' required='' placeholder='---select---').form-control
							//datalist#clys
							//	each member in citys
							//		option(value=member.City) #{member.Destination}
							//br
							//br
							label Phone No :
							input(type='tel',name='phno',placeholder='enter examinor phonenumber',required='' maxlength='10' minlength='10').form-control
							br.sel1
							br.sel1
							label.sel1 Email :
							input.sel1(type='email',name='email',placeholder='enter examinor mail-id',required='').form-control
							br
							br
							label Department :
							input(type="text" list='branches' name='department' required='' placeholder='---select---').form-control
							datalist#branches
								each member in branch
									option(value=member.Branch) #{member.Branch}
								
							br.sel1
							br.sel1
							label.sel1 Select Section
							select.sel1.form-control(name='section',required='')
								option(value='') ---Select---
								option(value='A') A
								option(value='B') B
								option(value='C') C
								option(value='D') D
							br
							br
							label Course Code:
							input#sour(type='text' list='courses' name='coursecode' required='' placeholder='---select---' onchange='hai()').form-control
							datalist#courses
								each member in ebcc
									option(value=member.CourseCode) #{member.CourseCode}
							br
							br
							

							label.pt Project Title :
							label.ln Course Name :
							input#dest(type='text',name='lab_name',placeholder='enter Course name' required='' list='subjects').form-control
							datalist#subjects
								each member in ebcc
									option(value=member.Name) #{member.Name} , #{member.CourseCode}
							br
							br
							
							label.sel1 No of Students :
							label.iid No of Scripts :
							input(type='number',name='count',placeholder='enter no of Students/Scripts ' required='').form-control
							br.sel1
							br.sel1

							.row.sel1
								.col-md-6
									label Lateral Entries :
									input(type='number',name='les',placeholder='enter no of lateral entry students ' required='').form-control
								.col-md-6
									label Added Students :
									input(type='number',name='added',placeholder='enter no of added students ' required='').form-control
							br
							br
							label.iid Payment per Script(₹) :
							input(type='text' name='pps' list='ppps' required='' placeholder='---select---').form-control
							datalist#ppps
								option(value='1.5') 1.5
							br.iid
							br.iid

							label.iid Bundle Number :
							input(type='text' name='bnum' required='' placeholder='Enter Bundle Number').form-control
							br.iid
							br.iid

							label Bank Name :
							input(type='text',name='bnkname',placeholder='enter examinor bank name',required='').form-control
							br
							br
							label Bank Account Number :
							input(type='text',name='bank_acc_no',placeholder='enter examinor account no' required='' maxlength='18' id='accnumb' minlength='9').form-control
							br
							br
							label IFSC Code :
							input(type='text',name='ifsc',placeholder='enter examinor ifsc code' required='' maxlength='12' minlength='10' id='ifname').form-control
							br
							br
							center
								input.btn(type='submit')

script(type='text/javascript').
	$("#fdate").change(function(){
		var f=$("#fdate").val();
		$('#tdate').attr('min', f);
	})
	$(".add").change(function () {
		if($(".add").val()=='DR'){
			 $(".des").val('Professor');
		}
	});
	function fun()
	{
			var d1=new Date(f);
			var d2=new Date(t);
			var a=Math.abs(d1-d2)/1000;
			var b=Math.floor(a/86400);
			//alert("answer "+b+" days")
	}
	function IFSCVAL()
	{

	}
	$(document).ready(function(){

	var m=document.getElementById("mode").value;
	if(m=="Scrutinizer"){	
	$("#sel1").hide();
	$(".df").hide();
	$(".br").hide();
	$(".sel1").hide();
	}
	else{
	$(".iid").hide();
	}

	if(m=="project"||m=="Project"){
	$(".pt").show();
	$(".ln").hide();
	}
	else{
	$(".pt").hide();
	$(".ln").show();
	}     
        
	$("#ifname").change(function () {      
	var inputvalues = $(this).val();      
	var reg = /[A-Z|a-z]{4}[0][a-zA-Z0-9]{6}$/;    
	    if (inputvalues.match(reg)) {    
	        return true;    
	    }    
	    else {    
	         $("#ifname").val("");
	         var x=document.getElementById("ifname").value;    
	        alert("You entered invalid IFSC code "+x);
	        return false;    
	    }    
	});
	$("#accnumb").change(function () {      
	var inputvalues = $(this).val();      
	var reg = /[0-9]{9,18}$/;    
	    if (inputvalues.match(reg)) {    
	        return true;    
	    }    
	    else {    
	         $("#accnumb").val("");
	         var x=document.getElementById("accnumb").value;    
	        alert("You entered invalid bank account number "+x);
	        return false;    
	    }    
	});      
	    
	});
	//[0-9]{9,18}

	function all()
	{
		alert("Heyyy")
	}
	



	/*$(document).ready(function () {
	$('#TextBoxID').keypress(function (event) {
	var keycode = (event.keyCode ? event.keyCode : event.which);
	var TextValue = document.getElementById("TextBoxID").value;
	var firstFourLetter =  TextValue.substring(1,4);
	var lastFourLetter = TextValue.substring(5,10);
	if (firstFourLetter.keycode >= '65' && lastFourLetter.keycode <= '90') {
	return true;
	}
	return false;
	});
	});
	function AllowIFSC() {
	var ifsc = document.getElementById('<%=txtifsccode.ClientID%>').value;
	var reg = /^[A-Za-z]{4}[0-9]{6}$/;
	if (ifsc.match(reg)) {
	return true;
	}
	else {
	alert("You Entered Wrong IFSC Code \n\n ------ or------ \n\n IFSC code should be count 11 \n\n-> Starting 4 should be only alphabets[A-Z] \n\n-> Remaining 7 should be accepting only alphanumeric");
	document.getElementById("<%=txtifsccode.ClientID%>").focus();
	return false;
	}
	}*/
	//------------------------------------------------------
	function hai(){
	var x =document.getElementById("sour").value;
	var selected=document.getElementById("courses");
	var ind=0;
	for(var i=0;i<selected.options.length;i++){
		if(x==selected.options[i].value){
			ind=i;
			//alert("hai"+ind);
		}
	}
	//alert(x+"\n"+selected.options[5].value);
	var d=document.getElementById("dest");
	var sst=document.getElementById("subjects");
	var t=sst.options[ind].value;
	//alert(t)
	d.value=t;
	}
